<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Радость</string>
		<key>color</key>
		<string>ffec59</string>
		<key>emotions</key>
		<array>
			<string>Радость</string>
			<string>Восторг</string>
			<string>Надежда</string>
			<string>Гордость</string>
			<string>Нежность</string>
			<string>Благодарность</string>
			<string>Восхищение</string>
			<string>Любовь</string>
			<string>Умиротворение</string>
			<string>Умиление</string>
			<string>Безмятежность</string>
			<string>Воодушевление</string>
			<string>Азарт</string>
			<string>Ликование</string>
			<string>Симпатия</string>
			<string>Предвкушение</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Гнев</string>
		<key>color</key>
		<string>ffb997</string>
		<key>emotions</key>
		<array>
			<string>Гнев</string>
			<string>Раздражение</string>
			<string>Возмущение</string>
			<string>Недовольство</string>
			<string>Отвращение</string>
			<string>Презрение</string>
			<string>Бешенство</string>
			<string>Обида</string>
			<string>Злость</string>
			<string>Досада</string>
			<string>Зависть</string>
			<string>Негодование</string>
			<string>Злорадство</string>
			<string>Неприязнь</string>
			<string>Ревность</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Печаль</string>
		<key>color</key>
		<string>b6cec7</string>
		<key>emotions</key>
		<array>
			<string>Печаль</string>
			<string>Грусть</string>
			<string>Разочарование</string>
			<string>Тоска</string>
			<string>Сочувствие</string>
			<string>Отчаяние</string>
			<string>Скорбь</string>
			<string>Сожаление</string>
			<string>Огорчение</string>
			<string>Жалость</string>
			<string>Горе</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Страх</string>
		<key>color</key>
		<string>6b3074</string>
		<key>emotions</key>
		<array>
			<string>Страх</string>
			<string>Беспокойство</string>
			<string>Тревога</string>
			<string>Ужас</string>
			<string>Паника</string>
			<string>Испуг</string>
			<string>Волнение</string>
			<string>Настороженность</string>
			<string>Боязнь</string>
			<string>Опасение</string>
			<string>Трепет</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Стыд</string>
		<key>color</key>
		<string>6bb6bc</string>
		<key>emotions</key>
		<array>
			<string>Стыд</string>
			<string>Вина</string>
			<string>Смущение</string>
			<string>Неловкость</string>
			<string>Неудобство</string>
		</array>
	</dict>
</array>
</plist>
