<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Радость</string>
		<key>color</key>
		<string>ffec59</string>
		<key>emotions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Радость</string>
				<key>meaning</key>
				<string>Чувство удовольствия, внутреннего удовлетворения, весёлое настроение</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Восторг</string>
				<key>meaning</key>
				<string>Сильный подъём радостных чувств, душевный порыв. Высшая степень творческого воодушевления. Состояние исключительной радости, восхищение чем-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Надежда</string>
				<key>meaning</key>
				<string>Душевное состояние, связанное с ожиданием чего-либо хорошего, благоприятного</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Умиротворение</string>
				<key>meaning</key>
				<string>Состояние спокойствия, безмятежности в мыслях и в чувствах, когда всё ясно и понятно и нет нужды в опасениях</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Умиление</string>
				<key>meaning</key>
				<string>Нежное, теплое чувство, возбуждаемое чем-либо трогательным</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Безмятежность</string>
				<key>meaning</key>
				<string>Невозмутимо спокойное состояние</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Воодушевление</string>
				<key>meaning</key>
				<string>Повышенное желание что-то делать</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Азарт</string>
				<key>meaning</key>
				<string>Сильное возбуждение, вызванное страстной увлечённостью</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ликование</string>
				<key>meaning</key>
				<string>Бурная радость, выражение восторг</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Предвкушение</string>
				<key>meaning</key>
				<string>Мысленное представление, внутреннее ощущение чего-либо заранее, предварительное переживание воображением этого представления, ощущения ожидаемого</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Счастье</string>
				<key>meaning</key>
				<string>Состояние человека, которое соответствует наибольшей внутренней удовлетворённости условиями своего бытия, полноте и осмысленности жизни, осуществлению своего призвания, самореализации</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Приподнятость</string>
				<key>meaning</key>
				<string>Состояние душевного подъёма, приподнятое настроение</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Оживление</string>
				<key>meaning</key>
				<string>Повышение жизненной энергии, веры в себя, высокий жизненный тон, усиление позитива</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Увлечение</string>
				<key>meaning</key>
				<string>Если вы делаете что-либо с увлечением, то это означает, что в момент исполнения чего-либо вы находитесь в приподнятом настроении, воодушевлены, полностью поглощены тем, что вы делаете</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Интерес</string>
				<key>meaning</key>
				<string>Заинтересованный человек чувствует интерес-возбуждение. Это чувство захваченности, зачарованности, любопытства. У индивида, испытывающего эту эмоцию, существует желание исследовать, вмешиваться, расширить опыт путём включения новой информации и подойти по-новому к объекту, возбуждающему интерес. При интенсивном интересе человек чувствует себя воодушевленным и оживленным</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Забота</string>
				<key>meaning</key>
				<string>Проявление внимательного отношения к кому-либо или к чему-либо. Это выражение своей любви, доброты, нежности. Другими словами оказание помощи, поддержки, ценности. Желание облегчить жизнь любимым</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ожидание</string>
				<key>meaning</key>
				<string>Желание чувствовать желаемую эмоцию в определенной ситуации или с определенным человеком (людьми), другие ситуации и люди для этого не подходят по мнению ожидающего на данный момент</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Возбуждение</string>
				<key>meaning</key>
				<string>Состояние настороженности и повышенного отклика на внешнее раздражение, повышенная энергетическая мобилизация, которая возникает тогда, когда имеет место сильная заинтересованность и глубокий контакт, будь он эротический, агрессивный, творческий или любой другой</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Любопытство</string>
				<key>meaning</key>
				<string>Желание выведать как можно больше нового, своего рода жадность до новостей</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Освобождение</string>
				<key>meaning</key>
				<string>Избавление, устранение чего-либо нежелательного, умиротворение</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Принятие</string>
				<key>meaning</key>
				<string>Обращение спокойного и ясного внимания и к возможностям, и к ограничениям. Принятие связано с признанием того, что действительно есть</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Нетерпение</string>
				<key>meaning</key>
				<string>Недостаток, отсутствие терпения в ожидании чего либо, лишенное выдержки и хладнокровия в ожидании чего-нибудь</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Вера</string>
				<key>meaning</key>
				<string>Чувство, окрашивающее образы фантазии и создающее иллюзию реальности и познания их</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Изумление</string>
				<key>meaning</key>
				<string>Очень большое удивление, состояние пораженности чем то неожиданным, необычным. Проявления во многом совпадают с проявлениями удивления</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Наслаждение</string>
				<key>meaning</key>
				<string>Чувство, возникающее вследствие удовлетворения интереса или потребностей. Синонимом понятия выступает удовольствие</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Удовольствие</string>
				<key>meaning</key>
				<string>Чувство, возникающее вследствие удовлетворения интереса или потребностей. Синонимом понятия выступает наслаждение</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Гнев</string>
		<key>color</key>
		<string>ffb997</string>
		<key>emotions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Гнев</string>
				<key>meaning</key>
				<string>Чувство сильного, яростного возмущения</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Раздражение</string>
				<key>meaning</key>
				<string>Чувство острого недовольства, досады, злости</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Возмущение</string>
				<key>meaning</key>
				<string>Очень сильное недовольство, негодование</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Недовольство</string>
				<key>meaning</key>
				<string>Отсутствие удовлетворённости, отрицательное отношение к кому-чему-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Отвращение</string>
				<key>meaning</key>
				<string>Крайняя неприязнь, в высшей степени отрицательное чувство по отношению к кому-либо или чему-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Презрение</string>
				<key>meaning</key>
				<string>Чувство полного пренебрежения, крайнего неуважения к кому-либо, чему-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Бешенство</string>
				<key>meaning</key>
				<string>Крайняя степень раздражения, буйная ярость</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Обида</string>
				<key>meaning</key>
				<string>Несправедливо причиненное огорчение, оскорбление. Чувство горечи, досады, вызываемое несправедливым, оскорбительным отношением к себе</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Злость</string>
				<key>meaning</key>
				<string>Резкое и сильное отрицательное чувство</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Досада</string>
				<key>meaning</key>
				<string>Чувство обиды, раздражения в связи с чем-либо неприятным</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Зависть</string>
				<key>meaning</key>
				<string>Чувство досады, вызванное превосходством, благополучием другого. Желанием иметь то, что есть у другого</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Негодование</string>
				<key>meaning</key>
				<string>Крайнее недовольство</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Злорадство</string>
				<key>meaning</key>
				<string>Чувство удовлетворения, злобной радости, испытываемое при неудаче или несчастье кого-либо другого</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Неприязнь</string>
				<key>meaning</key>
				<string>Недружелюбное, враждебное отношение к кому-либо или чему-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ревность</string>
				<key>meaning</key>
				<string>Мучительное сомнение в чьей-либо верности, любви, преданности. Подозрение в неверности, в привязанности, большей любви к кому-либо ещё. Зависть к успеху другого, нежелание делить что-либо с кем-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ярость</string>
				<key>meaning</key>
				<string>Очень сильная эмоция или импульсивная и агрессивная реакция, которая может быть вызвана попаданием в неприятную ситуацию, кратковременная частичная или полная потеря контроля над чувством гнева</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ненависть</string>
				<key>meaning</key>
				<string>Сильное чувство неприятия, проявляющееся в крайней степени враждебности к объекту ненависти. В качестве такого объекта может выступать другой человек, группа людей, предмет или явление</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Истерия</string>
				<key>meaning</key>
				<string>Лихорадочная, судорожная деятельность в каком-либо направлении</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Уязвлённость</string>
				<key>meaning</key>
				<string>Причинённая моральна боль; обида, оскорбление</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Печаль</string>
		<key>color</key>
		<string>b6cec7</string>
		<key>emotions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Печаль</string>
				<key>meaning</key>
				<string>Спокойное переживание утраты, душевная горечь</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Грусть</string>
				<key>meaning</key>
				<string>Чувство печали, лёгкого огорчения</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Разочарование</string>
				<key>meaning</key>
				<string>Чувство неудовлетворенности, вызванное несбывшимися, неоправдавшимися ожиданиями, надеждами или мечтаниями</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Тоска</string>
				<key>meaning</key>
				<string>Сильное душевное томление, душевная тревога в соединении с грустью и скукой, тягостное уныние</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Отчаяние</string>
				<key>meaning</key>
				<string>Душевное состояние крайней безнадёжности, ощущение безвыходности, безысходности, отсутствия перспективы. Потеря, отсутствие надежды</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Скорбь</string>
				<key>meaning</key>
				<string>Крайняя печаль, горесть, тяжёлое переживание, ощущение утраты</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Сожаление</string>
				<key>meaning</key>
				<string>Чувство печали, огорчения по поводу невозможности, невозвратимости, утраты чего-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Огорчение</string>
				<key>meaning</key>
				<string>Чувство горечи. Неприятность. Расстройство</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Жалость</string>
				<key>meaning</key>
				<string>Cострадание, соболезнование</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Горе</string>
				<key>meaning</key>
				<string>Bнтенсивное эмоциональное состояние, сопутствующее потере кого-то или чего-то, с кем или с чем у человека была глубокая эмоциональная связь</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Горечь</string>
				<key>meaning</key>
				<string>Тягостное, гнетущее чувство, вызываемое разочарованием, обидой, неудачей</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Лень</string>
				<key>meaning</key>
				<string>Стремление человека отказаться от преодоления трудностей, устойчивое нежелание совершать волевое усилие, интуитивное ощущение ненужности выполняемой в данный момент задачи</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Отрешённость</string>
				<key>meaning</key>
				<string>Отсутствие чувства эмоционального участия в чём либо, погруженность в себя, безразличие к окружающему</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Беспомощность</string>
				<key>meaning</key>
				<string>Ощущение своей бессильности в какой-то ситуации</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Душевная боль</string>
				<key>meaning</key>
				<string>Болезненное ощущение внутреннего напряжения, сопровождающееся тоской и чувством тяжести (или давления) в груди, в области сердца</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Безнадёжность</string>
				<key>meaning</key>
				<string>Нулевая степень надежды и противоположность веры</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Отчуждение</string>
				<key>meaning</key>
				<string>Отстранённость человека от внешнего мира</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Потрясение</string>
				<key>meaning</key>
				<string>Глубокое, тяжело переживаемое волнение</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Скука</string>
				<key>meaning</key>
				<string>Душевное томление, уныние, тоска от отсутствия дела или интереса к окружающему, отсутствие веселья, занимательности, тоска</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Безысходность</string>
				<key>meaning</key>
				<string>Неприятное чувство непоправимости, невозможности исправления тяжелого положения</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Загнанность</string>
				<key>meaning</key>
				<string>Доведение до изнеможения</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Страх</string>
		<key>color</key>
		<string>6b3074</string>
		<key>emotions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Страх</string>
				<key>meaning</key>
				<string>Состояние крайней тревоги и беспокойства от испуга, от грозящей или ожидаемой опасности. Боязнь, ужас</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Беспокойство</string>
				<key>meaning</key>
				<string>Тревожное состояние души, волнение</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Тревога</string>
				<key>meaning</key>
				<string>Чувство беспокойства, волнения в ожидании неприятности или опасности</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ужас</string>
				<key>meaning</key>
				<string>Чувство иррационального панического страха, доводящее до оцепенения или исступления</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Паника</string>
				<key>meaning</key>
				<string>Внезапное чувство страха, настолько сильное, что подавляет логическое мышление</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Испуг</string>
				<key>meaning</key>
				<string>Внезапное чувство страха</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Волнение</string>
				<key>meaning</key>
				<string>Чувство беспокойства, тревоги, душевное возбуждение</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Настороженность</string>
				<key>meaning</key>
				<string>Напряжённая внимательность в ожидании чего-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Боязнь</string>
				<key>meaning</key>
				<string>Робость, страх или беспокойство</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Опасение</string>
				<key>meaning</key>
				<string>Предчувствие опасности или каких-либо негативных событий</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Трепет</string>
				<key>meaning</key>
				<string>Сильное волнение от чего-либо, страх чего-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Оцепенение</string>
				<key>meaning</key>
				<string>Состояние неподвижности под влиянием какого нибудь сильного чувства, потрясения</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Подозрение</string>
				<key>meaning</key>
				<string>Познание недоверия, в котором человек действительно убивает честность другого человека или считает его виновным в каком-либо правонарушении или преступлении, но без надежных доказательств</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ошарашенность</string>
				<key>meaning</key>
				<string>Когда поставлен в тупик сильным удивлением</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Унижение</string>
				<key>meaning</key>
				<string>Падение чувства собственного достоинства и потеря достоинства в глазах других людей</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Замешательство</string>
				<key>meaning</key>
				<string>Внезапное нарушение порядка, смятение, растерянность</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Растерянность</string>
				<key>meaning</key>
				<string>Некоторая беспомощность от волнения, от сильного потрясения</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Сомнение</string>
				<key>meaning</key>
				<string>Чувство, которое вы испытываете, когда точно не знаете, что кто-либо прав или что-либо соответствует действительности</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Застенчивость</string>
				<key>meaning</key>
				<string>Появление беспокойства, страха и неловкости в ситуациях, связанных с общением с другими людьми или нахождением рядом с ними</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Сломленность</string>
				<key>meaning</key>
				<string>Упасть духом под влиянием тяжелых обстоятельств, утратить силы, энергию, лишиться воли, сделаться слабым, беспомощным, нежизненным</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Подвох</string>
				<key>meaning</key>
				<string>Подозревать действие, поступок, которые могут поставить в затруднительное, неприятное положение</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Надменность</string>
				<key>meaning</key>
				<string>Проявление заносчивости и показной гордости</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Ошеломлённость</string>
				<key>meaning</key>
				<string>Состояние крайнего удивления, замешательства, потрясения</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Стыд</string>
				<key>meaning</key>
				<string>Смущение, вызванное прилюдным нарушением принятых в обществе норм либо обнаружением такого нарушения</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Вина</string>
				<key>meaning</key>
				<string>Ответственность за совершение предосудительного деяния, причастность к совершению преступления</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Смущение</string>
				<key>meaning</key>
				<string>Чувство и состояние замешательства, неловкости</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Неловкость</string>
				<key>meaning</key>
				<string>Состояние стеснительности, смущения, стыда</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Неудобство</string>
				<key>meaning</key>
				<string>Состояние неловкости, затруднительности, смущения</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Любовь</string>
		<key>color</key>
		<string>c83b6e</string>
		<key>emotions</key>
		<array>
			<dict>
				<key>name</key>
				<string>Любовь</string>
				<key>meaning</key>
				<string>Чувство глубокой привязанности к кому-либо, чему-либо. Чувство расположения, симпатии к кому-либо. Чувство горячей сердечной склонности, влечение к другому человеку. Внутреннее стремление, влечение, склонность, тяготение к чему-либо. Пристрастие к чему-либо, предпочтение чего-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Нежность</string>
				<key>meaning</key>
				<string>Нежное чувство, ласковость и мягкость в отношениях к кому-нибудь</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Теплота</string>
				<key>meaning</key>
				<string>Это передавать другим своё внутреннее тепло, проявлять доброе, сердечное, отзывчивое отношение ко всем живым существам</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Сочувствие</string>
				<key>meaning</key>
				<string>Отзывчивое отношение к чужому чувству, преимущественно горестному, сострадание</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Блаженство</string>
				<key>meaning</key>
				<string>Полное и невозмутимое счастье и наслаждение, чувство высшего удовольствия</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Доверие</string>
				<key>meaning</key>
				<string>Уверенность и вера в чью-то добросовестность, искренность, в правильность чего-то</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Безопасность</string>
				<key>meaning</key>
				<string>Ощущение защищённости себя, своих интересов, чувств и эмоций, способность отражать неприятности</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Благодарность</string>
				<key>meaning</key>
				<string>Чувство признательности (а также выражение такого чувства) за оказанное внимание, услугу, сделанное добро</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Спокойствие</string>
				<key>meaning</key>
				<string>Уравновешенное, спокойное состояние духа, отсутствие забот, тревог, волнений</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Симпатия</string>
				<key>meaning</key>
				<string>Расположение, благожелательное отношение к кому-либо, чему-либо. Взаимное влечение, общность в чём-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Идентичность</string>
				<key>meaning</key>
				<string>Отождествление себя с другим человеком или группой, с художественным персонажем. Проекция, приписывание другому человеку своих черт, мотивов, мыслей и чувств</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Гордость</string>
				<key>meaning</key>
				<string>Чувство собственного достоинства, самоуважения. Чувство удовлетворения от достигнутых успехов, от сознания важности, значительности деятельности</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Восхищение</string>
				<key>meaning</key>
				<string>Ощущение сильнейшей радости, очарованности кем-либо или чем-либо</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Уважение</string>
				<key>meaning</key>
				<string>Это принимать, ценить и почитать человека таким, какой он есть, не пытаясь его изменить</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Самоценность</string>
				<key>meaning</key>
				<string>Понимание своего образа, его целостности, принятие себя, независимо от каких-либо факторов. Ощущение внутренней гармонии, цельности, уверенности в себе</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Влюблённость</string>
				<key>meaning</key>
				<string>Сильное положительно окрашенное чувство, направленное на другого человека</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Любовь к себе</string>
				<key>meaning</key>
				<string>Естественная и радостная забота о себе, своем теле, уме, душе и духе. Полное принятие своих качеств</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Очарованность</string>
				<key>meaning</key>
				<string>Большое восхищение и пленённость кем-то или чем-то</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Смирение</string>
				<key>meaning</key>
				<string>Спокойная реакция на негативные факторы; осознать; принять все так, как есть; принять ситуацию; перестать противиться, сопротивляться; принять неизбежность; всё так, как должно быть; такова жизнь; характерность момента; свойственность мира</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Искренность</string>
				<key>meaning</key>
				<string>Чистота и полнота выражения чувств, отсутствие противоречий</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Дружелюбие</string>
				<key>meaning</key>
				<string>Доброжелательное отношение, стремление к мирному доброму сосуществованию, к мирному спокойному решению возникающих конфликтов. Тёплое чувство, лишённое мелких обид</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Доброта</string>
				<key>meaning</key>
				<string>Отзывчивость, душевное и нежное расположение к людям, стремление делать добро другим</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Взаимовыручка</string>
				<key>meaning</key>
				<string>Желание оказать поддержку и ожидание получить поддержку взамен</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
